<!-- wp:template-part {"slug":"header-mega","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:getwid/section {"align":"full","skipLayout":true,"contentMaxWidthPreset":"custom","contentMaxWidth":700,"className":"alignfull"} -->
<div class="wp-block-getwid-section alignfull alignfull getwid-section-content-custom-width"><div class="wp-block-getwid-section__wrapper"><div class="wp-block-getwid-section__inner-wrapper" style="max-width:700px"><div class="wp-block-getwid-section__background-holder"><div class="wp-block-getwid-section__background"></div><div class="wp-block-getwid-section__foreground"></div></div><div class="wp-block-getwid-section__content"><div class="wp-block-getwid-section__inner-content"><!-- wp:heading {"textAlign":"center"} -->
<h2 class="wp-block-heading has-text-align-center">Oops! That page can’t be found.</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">It looks like nothing was found at this location. Maybe try one of the links below or a search?</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search","align":"center"} /--></div></div></div></div></div>
<!-- /wp:getwid/section --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->