<!-- wp:template-part {"slug":"header-mega","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"13px","margin":{"top":"70px","bottom":"90px"},"padding":{"right":"10px","left":"10px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="margin-top:70px;margin-bottom:90px;padding-right:10px;padding-left:10px"><!-- wp:query-title {"type":"archive","textAlign":"center"} /-->

<!-- wp:bcn/breadcrumb-trail /-->

<!-- wp:separator {"align":"wide","style":{"spacing":{"margin":{"top":"70px"}}},"className":"is-style-wide"} -->
<hr class="wp-block-separator alignwide has-alpha-channel-opacity is-style-wide" style="margin-top:70px"/>
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- wp:getwid/section {"align":"full","skipLayout":true,"className":"alignfull"} -->
<div class="wp-block-getwid-section alignfull alignfull"><div class="wp-block-getwid-section__wrapper"><div class="wp-block-getwid-section__inner-wrapper"><div class="wp-block-getwid-section__background-holder"><div class="wp-block-getwid-section__background"></div><div class="wp-block-getwid-section__foreground"></div></div><div class="wp-block-getwid-section__content"><div class="wp-block-getwid-section__inner-content"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"33.33%","style":{"spacing":{"blockGap":""}},"layout":{"type":"constrained","contentSize":"260px","justifyContent":"left"}} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true} /-->

<!-- wp:getwid/advanced-heading {"titleTag":"h2","marginTop":"45px","marginBottom":"35px"} -->
<div class="wp-block-getwid-advanced-heading" style="margin-bottom:35px;margin-top:45px"><h2 class="wp-block-getwid-advanced-heading__content">Popular Posts</h2></div>
<!-- /wp:getwid/advanced-heading -->

<!-- wp:latest-posts {"displayPostDate":true,"displayFeaturedImage":true,"featuredImageAlign":"left","featuredImageSizeWidth":80,"featuredImageSizeHeight":80} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"66.66%","style":{"spacing":{"blockGap":""}}} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:query {"queryId":18,"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"40px"}},"layout":{"type":"grid","columnCount":2}} -->
<!-- wp:group {"style":{"border":{"width":"0px","style":"none"},"spacing":{"blockGap":"13px","margin":{"bottom":"17px"}}},"className":"is-style-with-separator","layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group is-style-with-separator" style="border-style:none;border-width:0px;margin-bottom:17px"><!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|color-1"}}}}} /-->

<!-- wp:paragraph {"textColor":"color-6"} -->
<p class="has-color-6-color has-text-color">|</p>
<!-- /wp:paragraph -->

<!-- wp:post-date /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"isLink":true,"style":{"spacing":{"margin":{"bottom":"17px"}}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /-->
<!-- /wp:post-template -->

<!-- wp:getwid/advanced-spacer {"height":"10px"} -->
<div class="wp-block-getwid-advanced-spacer" style="height:10px" aria-hidden="true"></div>
<!-- /wp:getwid/advanced-spacer -->

<!-- wp:query-pagination {"paginationArrow":"chevron","style":{"elements":{"link":{":hover":{"color":{"text":"var:preset|color|color-1"}},"color":[]}}},"layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers {"style":{"typography":[]}} /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div></div></div></div></div>
<!-- /wp:getwid/section --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->