<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained","contentSize":"760px","wideSize":"1160px"}} -->
<main class="wp-block-group">
<!-- wp:pattern {"slug":"prime-fse/call-to-action-1"} /-->
<!-- wp:pattern {"slug":"prime-fse/features-list-1"} /-->
<!-- wp:pattern {"slug":"prime-fse/features-list-2"} /-->
<!-- wp:pattern {"slug":"prime-fse/testimonials-2"} /-->
<!-- wp:pattern {"slug":"prime-fse/call-to-action-7"} /-->
<!-- wp:pattern {"slug":"prime-fse/pricing-1"} /-->
<!-- wp:pattern {"slug":"prime-fse/performance"} /-->
<!-- wp:pattern {"slug":"prime-fse/latest-posts-1"} /-->
<!-- wp:pattern {"slug":"prime-fse/call-to-action-2"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-no-space","area":"footer"} /-->