<!-- wp:template-part {"slug":"header-mega","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"760px","wideSize":"1160px"}} -->
<main class="wp-block-group"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"13px","margin":{"bottom":"90px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="margin-bottom:90px"><!-- wp:post-title {"textAlign":"center","level":1,"style":{"typography":{"textTransform":"uppercase","fontSize":"100px","fontStyle":"normal","fontWeight":"700"}}} /-->

<!-- wp:bcn/breadcrumb-trail /-->

<!-- wp:separator {"align":"wide","style":{"spacing":{"margin":{"top":"70px"}}},"className":"is-style-wide"} -->
<hr class="wp-block-separator alignwide has-alpha-channel-opacity is-style-wide" style="margin-top:70px"/>
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- wp:post-featured-image /-->

<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->