<!-- wp:template-part {"slug":"header-mega","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"13px","margin":{"top":"70px","bottom":"90px"},"padding":{"right":"10px","left":"10px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="margin-top:70px;margin-bottom:90px;padding-right:10px;padding-left:10px"><!-- wp:query-title {"type":"search","textAlign":"center"} /-->

<!-- wp:bcn/breadcrumb-trail /-->

<!-- wp:separator {"align":"wide","style":{"spacing":{"margin":{"top":"70px"}}},"className":"is-style-wide"} -->
<hr class="wp-block-separator alignwide has-alpha-channel-opacity is-style-wide" style="margin-top:70px"/>
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- wp:getwid/section {"align":"full","skipLayout":true,"contentMaxWidthPreset":"custom","contentMaxWidth":768,"className":"alignfull"} -->
<div class="wp-block-getwid-section alignfull getwid-section-content-custom-width"><div class="wp-block-getwid-section__wrapper"><div class="wp-block-getwid-section__inner-wrapper" style="max-width:768px"><div class="wp-block-getwid-section__background-holder"><div class="wp-block-getwid-section__background"></div><div class="wp-block-getwid-section__foreground"></div></div><div class="wp-block-getwid-section__content"><div class="wp-block-getwid-section__inner-content"><!-- wp:query {"queryId":18,"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"60px"}},"layout":{"type":"default","columnCount":2}} -->
<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /-->

<!-- wp:post-excerpt /-->
<!-- /wp:post-template -->

<!-- wp:getwid/advanced-spacer {"height":"10px"} -->
<div class="wp-block-getwid-advanced-spacer" style="height:10px" aria-hidden="true"></div>
<!-- /wp:getwid/advanced-spacer -->

<!-- wp:query-pagination {"paginationArrow":"chevron","style":{"elements":{"link":{":hover":{"color":{"text":"var:preset|color|color-1"}},"color":[]}}},"layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers {"style":{"typography":[]}} /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div></div></div></div></div>
<!-- /wp:getwid/section --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->