.wp-block-quote {

    border: 0;
    margin-top: 30px;
    border-top: 1px solid var(--wp--preset--color--color-7);
    position: relative;
    padding-left: 55px;
    padding-top: 35px;

    &:after {
        content: url('assets/images/quote.svg');
        position: absolute;
        left: 0;
        top: 40px;
        height: 30px;
        width: 36px;
    }

    > * {

        &:first-child {
            margin-top: 0;
        }
    }

    &.is-style-plain {
        padding-left: 0;

        &:after {
            display: none;
        }
    }

    p {

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    cite {
        display: block;
        margin-top: 12px;
        color: var(--wp--preset--color--color-4);
        font-size: inherit;
    }

    &.is-style-large {
        &:after {
            display: none;
        }

        p {

        }

        cite {

        }
    }

    &.is-style-decorated {
        padding-left: 0;
        padding-top: 65px;
        border: 0;

        > * {
            position: relative;
        }

        &:after {
            left: 0;
            top: 0;
        }

        &:before {
            content: '';
            display: block;
            width: 88px;
            height: 88px;
            background: #f3f3f3;
            border-radius: 20px 20px 20px 0;
            position: absolute;
            left: -15px;
            top: 57px;
        }
    }
}